@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@theme {
	--font-poppins: "Poppins", sans-serif;
}

@keyframes loadElement {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.load-element {
	animation: loadElement 1s ease-out;
}